<h1>Fbposts#show</h1>

	<section class="timeline">
	  <% form_tag fbpost_path do %>
	    <%= text_area_tag :message, nil, :placeholder => 'Message here.' %>
	    <%= submit_tag 'Update', :disable_with => 'Updating...' %>
	  <% end %>
