<% @catwalks.each do|catwalk| %>
<br>
<% if catwalk.id >= 17 %>
<%= image_tag catwalk.catpic.url%>

<br>

<p> Posted by <%= (catwalk.user).name %> </p>
<%= link_to 'vote for this post!', voteup_path(:catwalk => catwalk), :remote => true  %>
<div id="votecount">   </div>
<% end %>
<% end %>

