<h3>Here is your cat picture that you uploaded</h3>

	<p id="notice"><%= notice %></p>



	<p>
	  <b>Name:</b>
	  <%= @catwalk.catname %>
	</p>



	<%= image_tag @catwalk.catpic.url(:upload) %>



	 
	

