#cat1.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:376px; left:607px;}
#cat2.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:360px; left:665px;}
#cat3.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:468px; left:682px;}

#cat4.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:382px; left:735px;}
#cat5.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:458px; left:753px;}
#cat6.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:478px; left:560px;}

#hat1.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:300px; left:555px;}
#hat2.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:240px; left:696px;}
#hat3.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:191px; left:547px;}

#hat4.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:180px; left:790px;}
#hat5.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:180px; left:630px;}
#hat6.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:280px; left:780px;}



body {
	background-image: url(/images/back.png);
	font-family: Futura, sans-serif;
}

.top-color {
	position:absolute;
	top:0;
	left:0;
	background-color: #99FFFF;
	height:178px;
	width:100%;
}
.top-point {
	position:relative;
	top:-5px;
	height:16px;
	background-image: url(/images/pointy.png);
	background-repeat:repeat-x;
}
.solid {
	position:relative;
	top:16px;
	height:151px;
	background-color: #33CCCC;
}
.top-header {
	position:relative;
	top:39px;
	height:120px;
	background-color: #339999;
}
.signin{
	color:#fff;
	text-align:right;
	float:right;
	position:relative;
	top:10px;
	right:10px;
	z-index:1;
}

.signin a{
	text-decoration: none;
}
.header img{
	position:relative;
	text-align:center;
	top:-7px;
	left:-169px;
}
.header {
	position:relative;
	background-image: url(/images/script.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	top:-13px;
}

.nav {	
	color:#fff;
	margin-top:-40px;
	font-size:16px;
	text-align:center;
	left:12px;
}
.social{
	position:relative;
	top:-62px;
	left:645px;
}
.header a{
	color:white;
	text-decoration:none;
	margin-right:12px;
	margin-left:12px;
}
.content{
	position:relative;
	top:210px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:825px;
	text-align:left;
	font-size:36px;
	font-weight:bold;
	color: #FF0000;
	left:-20px;
}

.slider img{
	position:relative;
	top:50px;
}
.top-point-footer {
	position:relative;
	top:-12px;
	height:16px;
	background-image: url(/images/pointy.png);
	background-repeat:repeat-x;
	width:100%;
}
.solid-footer {
	position:absolute;
	height:200px;
	background-color: #33CCCC;
	width:100%;
	top:860px;
	left:0;
}

.footer
{
	position:relative;
}

.footer p{
	top:initial;
	font-size:14px;
	color:#FFF;
	text-align:center;
	position:relative;
	top:474px;
	z-index:1;
}




body .background {
       margin-top: 260px;
}





body .catwalklinks {
       margin-left: 153px;
       margin-top: 260px;
}




body .catwalklinks a {
       margin-right: -5px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-size: 12px;
       margin-bottom: 20px;
}

body .sharelink a {
       margin-left: 745px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

/* body .signin {
       background-image:url(/images/backsignin.png);
}

body .signin a {
       margin-left: 652px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

*/
body .links a:hover, .sharelink a:hover, .signin a:hover {
       background: #ff864b;
       color: #fff;
}

body .catwalklinks a:hover, .sharelink a:hover, .signin a:hover {
       background: #ff864b;
       color: #fff;
}

.three-col {
margin-left:auto;
margin-right:auto;
position:relative;
top:10px;
margin-left:150px;    
width: 900px;
height: 1000px;
}

.enclose:after
{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	
}


.onesec-hor-upper {
	top: 0;
	left:0;
	float:left;
	height: 220px;
	width:200px;
	background:transparent;
	margin-top: 20px;
	margin-left: 10px;
}

.onesec-hor {
	top: 0;
	left:0;
	float:left;
	height: 170px;
	width:200px;
	background-color: #FAFAFA;

}

.onesec-hor:hover {
	top: 0;
	left:0;
	float:left;
	height: 175px;
	width: 200px;
	background-color: #AAAAAA;

}

.onesec-hor img{
 	position:relative;
	   top: 17px;
	   left:14px;
	   width: 172px;
	   height: 128px;
	   width:100%
	   height:auto;
	   border-style: none;
  
}

.onesec-hor-upper h1 {
   float:none;
   padding-left: 14px;
   font-size: 12px;
  
}

.onesec-hor-upper h2 {
   padding-left: 14px;
   padding-top: -5px;
   padding-bottom: 1px;
   font-size: 10px;
}

.onesec-hor-upper h3 {
       font-size: 12px;
	   padding-: 5px;
	   margin-left: 180px;
}

.like a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
}



.liked a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48_visited.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
  
}

.like a:hover {
	background: url('/images/RedPink48_mouseover.png') no-repeat;
}




/* Nivo  */
.theme-default #slider {
    margin:50px auto 0 100px;
    width:865px; /* Make sure your images are the same size */
    height:379px; /* Make sure your images are the same size */
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

.apple_pagination {
  background: transparent;
  border: none;
  text-align: center;
  padding-top: 15px;
  padding-left:300px;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


		#carousel {
			width: 100px;
			height: 344px;
			position: relative;
		}

		#carousel > .wrapper {
			position: absolute;
			top: 22px;
		}

		#carousel img {
			border: 0;
		}

		#ui-rcarousel-next, #ui-rcarousel-prev {
			display: block;
			position: absolute;
			width: 22px;
			height: 22px;
		}

		#ui-rcarousel-next {
			top: 0;
			left: 39px;
		}

		#ui-rcarousel-prev {
			bottom: 0;
			left: 39px;
		}

