#cat1.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:506px; left:607px; margin: 0 auto 0 auto; z-index:1;}
#cat2.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:490px; left:665px; margin: 0 auto 0 auto; z-index:1;}
#cat3.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:597px; left:682px; margin: 0 auto 0 auto; z-index:1;}

#cat4.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:606px; left:735px; margin: 0 auto 0 auto; z-index:1;}
#cat5.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:489px; left:753px; margin: 0 auto 0 auto; z-index:1;}
#cat6.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:616px; left:560px; margin: 0 auto 0 auto; z-index:1;}

#hat1.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:437px; left:555px; margin: 0 auto 0 auto; z-index:1;}
#hat2.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:401px; left:696px; margin: 0 auto 0 auto; z-index:1;}
#hat3.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:324px; left:547px; margin: 0 auto 0 auto; z-index:1;}

#hat4.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:310px; left:790px; margin: 0 auto 0 auto; z-index:1;}
#hat5.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:305px; left:630px; margin: 0 auto 0 auto; z-index:1;}
#hat6.cat {  width: 1px; background: transparent; text-align:center; position:relative; top:417px; left:780px; margin: 0 auto 0 auto; z-index:1;}



body {
	background-image: url(/images/back.png);
	font-family: Futura, sans-serif;
}

.top-color {
	position:absolute;
	top:0;
	left:0;
	background-color: #99FFFF;
	height:178px;
	width:100%;
	z-index:1;
}
.top-point {
	position:relative;
	top:-5px;
	height:16px;
	background-image: url(/images/pointy.png);
	background-repeat:repeat-x;
}
.solid {
	position:relative;
	top:16px;
	height:151px;
	background-color: #33CCCC;
}
.top-header {
	position:relative;
	top:39px;
	height:120px;
	background-color: #339999;
}
.signin{
	color:#fff;
	text-align:right;
	float:right;
	position:relative;
	top:10px;
	right:10px;
	z-index:1;
}

#signin{
	text-decoration:none;
	color:#fff;
	text-align:right;
	float:right;
	position:relative;
	top:10px;
	right:10px;
	z-index:1;
}

.edit_post {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 995px;
}

#signin a{
	text-decoration:none;
	color:#fff;
}

.signin a{
	text-decoration: none;
}
.header img{
	position:relative;
	text-align:center;
	top:-7px;
	left:-164px;
}
.header {
	position:relative;
	background-image: url(/images/script.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	top:-13px;
}

.nav {	
	color:#fff;
	margin-top:-40px;
	font-size:16px;
	text-align:center;
	left:12px;
}
.social{
	position:relative;
	top:-62px;
	left:645px;
}
.header a{
	color:white;
	text-decoration:none;
	margin-left:12px;
}
.content{
	position:relative;
	top:210px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:825px;
	text-align:left;
	font-size:36px;
	font-weight:bold;
	color: #FF0000;
	left:-20px;
}

.slider img{
	position:relative;
	top:50px;
}
.top-point-footer {
	position:relative;
	top:-5px;
	height:16px;
	background-image: url(/images/pointy.png);
	background-repeat:repeat-x;
	width:100%;
}
.solid-footer {
	position:absolute;
	height:133px;
	background-color: #33CCCC;
	width:100%;
	margin-top:225px;
	left:0;
}

.footer p{
	font-size:14px;
	color:#FFF;
	text-align:center;
	position:relative;
	top:333px;
	z-index:1;
}

body .catwalklinks {
       margin-left: 10px;
       margin-top: 210px;
}

body .catwalklinks a {
       margin-right: -5px;
       position: relative;
       background-color: red;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-size: 12px;
       margin-bottom: 20px;
}

body .sharelink a {
       margin-left: 745px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

.submitlink {
       position: relative;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
       margin-left: 743px;
       background-color: red;
       top: -487px;
       moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       -khtml-border-radius: 10px;
       border-radius: 10px;
       border: 0;
       font-size: 15px;
}


/* body .signin {
       background-image:url(/images/backsignin.png);
}

body .signin a {
       margin-left: 652px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

*/
body .links a:hover, .sharelink a:hover, .signin a:hover {
       background: #33CCCC;
       color: #fff;
}

body .catwalklinks a:hover, .sharelink a:hover, .signin a:hover {
       background: #33CCCC;
       color: #fff;
}

.three-col {
display:block;
margin-left:auto;
margin-right:auto;
position:relative;
top:10px;    
width: 900px;
height: 1000px;
}

.enclose:after
{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	
}


.onesec-hor-upper {
	top: 0;
	left:0;
	float:left;
	height: 220px;
	width:200px;
	background:transparent;
	margin-top: 20px;
	margin-left: 10px;
}

.onesec-hor {
	top: 0;
	left:0;
	float:left;
	height: 170px;
	width:200px;
	background-color: #FAFAFA;

}

.onesec-hor:hover {
	top: 0;
	left:0;
	float:left;
	height: 175px;
	width: 200px;
	background-color: #AAAAAA;

}

.single-grid {
	 display: table;
 	position:relative;
	   top: 10px;
	   left:14px;
	   height: 128px;
	width: 170px;
	   background: url(/images/checkered.png) no-repeat top left;
	overflow: hidden;
	border:0 none;
	}

.single-grid .single-img
{
	    display: table-cell;
	 	vertical-align:middle;
	    text-align: center;
		text-decoration: none;
		
}

.single-grid .single-img img{
 border:none;	
}

.onesec-hor-upper h1 {
   float:none;
   padding-top: 5px;
   padding-left: 14px;
   font-size: 12px;
  
}

.onesec-hor-upper h2 {
   padding-left: 14px;
   padding-top: 1px;
   padding-bottom: 1px;
   font-size: 10px;
}

.onesec-hor-upper h3 {
       font-size: 12px;
	   padding-: 5px;
	   margin-left: 180px;
}

.like a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
  margin-top:15px;
}



.liked a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48_visited.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
   margin-top:15px;
  
}

.like a:hover {
	background: url('/images/RedPink48_mouseover.png') no-repeat;
}

/* About  */
.about{
	margin-top:200px;
	display:block;
	margin-left: auto;
	margin-right:auto;
	text-align:left;
	position:relative;
	top:0;
	left:-55px;
	width:570px;
}
.about-wrapper {
	position:relative;
	top:-441px;
	left:381px;
	margin-bottom:-340px;
	width:359px;
}

/* Nivo  */
.theme-default #slider {
    margin:0 auto 0 auto;
    width:831px; /* Make sure your images are the same size */
    height:364px; /* Make sure your images are the same size */
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

.apple_pagination {
  background: transparent;
  border: none;
  text-align: right;
  padding-top:5px;
  padding-bottom:5px;
  right:54px;
  cursor: default;
  position:relative; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    text-align:center;
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

	#carousel {
				width: 580px;
				height: 100px;
				position: relative;
			}



			#carousel img {                 
							border: 0;
						}

						#ui-rcarousel-next, #ui-rcarousel-prev {
							display: block;
							position: absolute;
						}

						#ui-rcarousel-next {
							top: 39px;
							right: 0;
						}

						#ui-rcarousel-prev {
							top: 39px;
							left: 0;
						}

          #fbcatpic {
	margin-top: 170px;
   }

.field
{
	margin-top:5px;
}