#cat1.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#cat2.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#cat3.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat1.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat2.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat3.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#cat4.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#cat5.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#cat6.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat4.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat5.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}
#hat6.cat { width: 1px; background: transparent; text-align:center; float:left;position: relative;}


body {
       background-image:url(/images/back3.png);

       background-repeat:repeat;
       font-family: sans-serif;
}
body .header {
       margin-top: 20px;
       background-image:url(/images/headercopyrepeat.png);
       background-repeat:repeat-x;
}
body .background {
       margin-top: 30px;
}

body .background img{
       margin-right: 20px;
       margin-bottom: 35px;
}

body .links {
       margin-left: 153px;
       margin-top: -25px;
}

body .links a {
       margin-right: 3.5px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-size: 12px;
       margin-bottom: 20px;
}

body .sharelink a {
       margin-left: 745px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

body .signin {
       background-image:url(/images/backsignin.png);
}

body .signin a {
       margin-left: 652px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

body .links a:hover, .sharelink a:hover, .signin a:hover {
       background: #ff864b;
       color: #fff;
}

.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}

.onesec-hor {
	top: 0;
	left:0;
	height: 365px;
	background-color: #CCFF99;
	margin-top: 10px;
}

.onesec-hor img{
   position:relative;
   top: 17px;
   left:14px;
   height: 250px;
   width:100%
   height:auto;
}

.onesec-hor h1 {
   padding-left: 14px;
   padding-top: 23px;
   font-size: 12px;
}

.onesec-hor h2 {
   padding-left: 14px;
   padding-top: -5px;
   padding-bottom: 9px;
   font-size: 10px;
}

.onesec-hor h3 {
 	text-align: right;
	font-size: 10px;
	padding-right: 15px;
}

.onesec-hor a {
   font-size: 12px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   text-decoration: none;
   border-style:solid;
   border-color:black;
   color: #000000;
   font-weight: bold;
   margin-left: 14px;
}

.onesec-hor a:visited {
   font-size: 12px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   text-decoration: none;
   border-style:solid;
   border-color:#E8E8E8;
   color: #E8E8E8;
   margin-left: 14px;
}

