#cat1.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:376px; left:607px;}
#cat2.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:360px; left:665px;}
#cat3.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:468px; left:682px;}

#cat4.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:382px; left:735px;}
#cat5.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:458px; left:753px;}
#cat6.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:478px; left:560px;}

#hat1.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:300px; left:555px;}
#hat2.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:240px; left:696px;}
#hat3.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:191px; left:547px;}

#hat4.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:180px; left:790px;}
#hat5.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:180px; left:630px;}
#hat6.cat {  width: 1px; background: transparent; text-align:center; position:absolute; top:280px; left:780px;}



body {
       background-image:url(/images/back3.png);

       background-repeat:repeat;
       font-family: sans-serif;
}
body .header {
       margin-top: 20px;
       background-image:url(/images/headercopyrepeat.png);
       background-repeat:repeat-x;
}

/*
body .background {
       margin-top: 30px;
}

*/

body .background img{
	
       margin-right: 20px;
       margin-bottom: 35px;
}



body .links {
       margin-left: 153px;
       margin-top: -25px;
}

body .catwalklinks {
       margin-left: 153px;
       margin-top: 20px;
}

body .userinfo_upper {
	width:973px;
	position:absolute;
	right:0px;
}

body .userinfo {

	margin-top: 0px;
	margin-left: -10px;
	position: relative;
	top:-159px;
	font-size: 12px;
	color: white;
	text-align: right;
	background-color: #FF5300;
	padding-right: 16px;
	padding-left: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	right:0;
	left:754px;
	display:inline-block;
}

body .userinfo a {

	background-color: #FF5300;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
	color: white;
	text-align: right;
}

body .links a {
       margin-right: -5px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-size: 12px;
       margin-bottom: 20px;
}

body .catwalklinks a {
       margin-right: -5px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-size: 12px;
       margin-bottom: 20px;
}

body .sharelink a {
       margin-left: 745px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

body .signin {
       background-image:url(/images/backsignin.png);
}

body .signin a {
       margin-left: 652px;
       position: relative;
       background-color: #ff5300;
       padding-right: 30px;
       padding-left: 30px;
       padding-top: 7px;
       padding-bottom: 7px;
       text-decoration: none;
       text-align: center;
       color: #fff;
       font-weight: bold;
       margin-bottom: 20px;
}

body .links a:hover, .sharelink a:hover, .signin a:hover {
       background: #ff864b;
       color: #fff;
}

body .catwalklinks a:hover, .sharelink a:hover, .signin a:hover {
       background: #ff864b;
       color: #fff;
}

.three-col {
margin-left:150px;    
width: 900px;
height: 1000px;
}

.onesec-hor-upper {
	top: 0;
	left:0;
	float:left;
	height: 220px;
	width:200px;
	background:transparent;
	margin-top: 20px;
	margin-left: 10px;
}

.onesec-hor {
	top: 0;
	left:0;
	float:left;
	height: 170px;
	width:200px;
	background-color: #FAFAFA;

}

.onesec-hor:hover {
	top: 0;
	left:0;
	float:left;
	height: 175px;
	width: 200px;
	background-color: #AAAAAA;

}

.onesec-hor img{
 	position:relative;
	   top: 17px;
	   left:14px;
	   width: 172px;
	   height: 128px;
	   width:100%
	   height:auto;
  
}

.onesec-hor-upper h1 {
   float:none;
   padding-left: 14px;
   font-size: 12px;
  
}

.onesec-hor-upper h2 {
   padding-left: 14px;
   padding-top: -5px;
   padding-bottom: 1px;
   font-size: 10px;
}

.onesec-hor-upper h3 {
       font-size: 12px;
	   padding-: 5px;
	   margin-left: 180px;
}

.like a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
}



.liked a {
	display: block;
		width: 20px;
		height: 20px;
		background: url('/images/RedPink48_visited.png') no-repeat;
		text-indent: -99999px;
  float: left;
  margin-left: 155px;
  
}

.like a:hover {
	background: url('/images/RedPink48_mouseover.png') no-repeat;
}




/* Nivo  */
.theme-default #slider {
    margin:50px auto 0 100px;
    width:865px; /* Make sure your images are the same size */
    height:379px; /* Make sure your images are the same size */
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

.apple_pagination {
  background: transparent;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 5px;
  padding-left:300px;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


