
<div class="about">
<h2> About Us </h2>
<img src="/images/About-Us-Cats.jpg">
<div class="about-wrapper">
</div>
<h3>Follow Us!</h3>
<p>Camille Kelly, Marketing <a href="http://twitter.com/#!/c2kelly"><img src="/images/twitter5-1.png"></a></p>
<p>Shantanu Bhalerao, Back-end and Front-end <a href="http://twitter.com/#!/sabhalerao"><img src="/images/twitter5-1.png"></a></p>
<p>Melissa Kelly, Front-end and Designer <a href="http://twitter.com/#!/MelissKelly"><img src="/images/twitter5-1.png"></a></p>
</div>

