<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="header">
                       <img src="/images/header.png" alt=""/>
                       </div>
               <div class="links">
                       <a href="#">Cat Walk</a>
                       <a href="#">Chuckles</a>
                       <a href="#">Hats, Etc</a>
                       <a href="#">About Us</a>
                       </div>
               <div class="background">
                      <div id="droppable"> <img src="/images/catsback.png" alt=""/> </div>
                       <img src="/images/couch.png" alt=""/>
                       </div>

				
							
               <div class="sharelink">
           
    
    <%= f.submit "Share" %>
  </div>
<% end %>
	


 
