<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




               <div class="background">
                      <div id="droppable" style="float:left"> <img src="/images/catsback.png" alt=""/> </div>
                      <div id="couch" style="float:left"> <img src="/images/couch.png" alt=""/> </div>
                       </div>

				
							
               <div class="sharelink">
     
      
    
    <%= f.submit "Share" %>
  </div>
<% end %>
	


 
