<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('post_title').focus();
}
</script>

	<div id="droppable" style="float:left"> <img src="http://melissakellydesigns.com/images/back.jpg"> </div>
	  
	   <div id ="cat1" class="cat"> <img src="/images/cat1.gif" height="150"> </div>
	   <div id ="cat2" class="cat"> <img src="/images/cat2.gif" height="150"> </div>
	   <div id ="cat3" class="cat"> <img src="/images/cat3.gif" height="150"> </div>
	   <div id ="hat1" class="cat"> <img src="/images/hat1.gif" height="50"> </div>
	   <div id ="hat2" class="cat"> <img src="/images/hat2.gif" height="50"> </div>
	   <div id ="hat3" class="cat"> <img src="/images/hat3.gif" height="50"> </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  
