<div class="num1" style="position: relative;left:0px;top:0px;width:1024px;height:36px;">
			<img src="images/comp4_01.jpg" width="1024" height="36" alt="" border="0"></div>
<div class="num2" style="position: relative;left:-470px;top:0px;width:83px;height:732px;">
			<img src="images/comp4_02.jpg" width="83" height="732" alt=""border="0"></div>
<div class="num3" style="position: relative;left:5px;top:-732px;width:867px;height:105px;">
			<img src="images/comp4_03.jpg" width="867" height="105" alt="" border="0"></div>
<div class="num4" style="position: relative;left:-355px;top:-732;width:148px;height:49px;">
			<img src="images/comp4_05.jpg" width="148" height="49" alt="" border="0"></div>
			<div class="num5" style="position: relative;left:-203px;top:-781px;width:157px;height:27px;"><img src="images/comp4_06.jpg" width="157" height="27" alt="" border="0"></div>
            <div class="num6" style="position: relative;left:475px;top:-913px;width:74px;height:732px;">
<img src="images/comp4_04.jpg" width="74" height="732" alt="" border="0"></div>
 <div class="num7" style="position: relative;left:-203px;top:-1513px;width:157px;height:22px;">
<img src="images/comp4_08.jpg" width="157" height="22" alt="" border="0"></div>
 <div class="num8" style="position: relative;left:157px;top:-1562px;width:562px;height:49px;"><img src="images/comp4_07.jpg" width="562" height="49" alt="" border="0"></div>
<div class="num9" style="position: relative;left:5px;top:-1562px;width:867px;height:16px;">
			<img src="images/comp4_09.jpg" width="867" height="16" alt="" border="0"></div>
<div class="num10" style="position: relative;left:-161px;top:-1562px;width:536px;height:389px;">
			<img src="images/comp4_10.jpg" width="536" height="389" alt="" ></div>
       <div class="num11" style="position: relative;left:272px;top:-1951px;width:331px;height:420px;">     
			<img src="images/comp4_11.jpg" width="331" height="420" alt="" border="0"></div>
      <div class="num12" style="position: relative;left:-161px;top:-1982px;width:536px;height:31px;">	
            <img src="images/comp4_12.jpg" width="536" height="31" alt="" border="0"></div>
<div class="num13" style="position: relative;left:-364px;top:-1982px;width:130px;height:27px;">
			<img src="images/comp4_13.jpg" width="130" height="27" alt="" border="0"></div>
<div class="num14" style="position: relative;left:-298px;top:-2009px;width:2px;height:142px;">
			<img src="images/comp4_14.jpg" width="2" height="142" alt="" border="0">
 </div>
		<div class="num15" style="position: relative;left:-231px;top:-2151px;width:131px;height:27px;">
        	<img src="images/comp4_15.jpg" width="131" height="27" alt="" border="0"></div>
			<div class="num16" style="position: relative;left:-164px;top:-2178px;width:4px;height:142px;">	
            <img src="images/comp4_16.jpg" width="4" height="142" alt="" border="0"></div>
			<div class="num17" style="position: relative;left:-97px;top:-2320px;width:130px;height:27px;">	
            <img src="images/comp4_17.jpg" width="130" height="27" alt=""></div>
            <div class="num18" style="position: relative;left:-31px;top:-2348px;width:2px;height:142px;">	
			<img src="images/comp4_18.jpg" width="2" height="142" alt=""></div>
            <div class="num19" style="position: relative;left:35px;top:-2489px;width:130px;height:27px;">
			<img src="images/comp4_19.jpg" width="130" height="27" alt=""></div>
			 <div class="num20" style="position: relative;left:204px;top:-2516px;width:208px;height:142px;">
             <img src="images/comp4_20.jpg" width="208" height="142" alt=""></div>
			 <div class="num21" style="position: relative;left:373px;top:-2658px;width:130px;height:27px;">
             <img src="images/comp4_21.jpg" width="130" height="27" alt=""></div>
	 <div class="num22" style="position: relative;left:-364px;top:-2658px;width:130px;height:115px;">
			<img src="images/comp4_22.jpg" width="130" height="115" alt=""></div>
            <div class="num23" style="position: relative;left:-232px;top:-2773px;width:131px;height:115px;">
			<img src="images/comp4_23.jpg" width="131" height="115" alt=""></div>
             <div class="num24" style="position: relative;left:-97px;top:-2888px;width:130px;height:115px;">
			<img src="images/comp4_24.jpg" width="130" height="115" alt=""></div>
         <div class="num25" style="position: relative;left:35px;top:-3003px;width:130px;height:115px;">
			<img src="images/comp4_25.jpg" width="130" height="115" alt=""></div>
            <div class="num26" style="position: relative;left:373px;top:-3118px;width:130px;height:115px;">
			<img src="images/comp4_26.jpg" width="130" height="115" alt=""></div>
 


<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('post_title').focus();
}
</script>

	<div id="droppable" style="absolute:left"> <img src="images/comp4_10.jpg"> </div>
	  
	   <div id ="cat1" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/cat1.gif" height="150"> </div>
	   <div id ="cat2" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/cat2.gif" height="150"> </div>
	   <div id ="cat3" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/cat3.gif" height="150"> </div>
	   <div id ="hat1" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/hat1.gif" height="50">  </div>
	   <div id ="hat2" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/hat2.gif" height="50">  </div>
	   <div id ="hat3" class="cat" style="position: relative;left:-365;top:-3680px;width:130px;height:115px;"> <img src="/images/hat3.gif" height="50">  </div>
  
  <div class="actions">
    <%= image_submit_tag("comp4_21.jpg") %>
  </div>
<% end %>

 
