
  <div class="header">
           <img src="/images/header.png" alt=""/>
           </div>
   <div class="links">
           <%= link_to 'Cat Walk', new_catwalk_path %>
           <a href="#">Chuckles</a>
           <a href="#">Hats, Etc</a>
           <a href="#">About Us</a>
           </div>
   <div class="background">
           <img src="/images/slider1.png" alt=""/>
           </div>

		<a id="various1" href="#signin" title="">Start!</a></li>
			<div style="display: none;">
				<div id="signin" style="width:400px;height:100px;overflow:auto;">
		        Please sign into facebook.
					<a href="#">Sign in to Facebook</a>
				</div>

		</div>
   <a id="single_image" href="images/back.jpg"> Click here <img src="images/back.jpg" alt=""/></a>
	

