
  <div class="header">
           <img src="/images/header.png" alt=""/>
           </div>
   <div class="links">
           <%= link_to 'Cat Walk', new_catwalk_path %>
           <a href="#">Chuckles</a>
           <a href="#">Hats, Etc</a>
           <a href="#">About Us</a>
           </div>
   <div class="background">
           <img src="/images/slider1.png" alt=""/>
           </div>

 <div class="sharelink">	
       	<% if current_user %>
		   <%= link_to "Share", share_link_path %>

		
		  <% else %>

		
		<a id="various1" href="#signin" title="">Share </a></li>
     	<div style="display: none;">
				<div id="signin" style="width:200px;height:100px;overflow:auto;">
		        Please sign into facebook.
					<%= link_to "Sign in to Facebook", "/auth/facebook" %>
					
				</div>

		</div>
</div>

	<% end %>

