<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({effect:'slideInLeft'});
});
</script>
  
<div class="content">
They're Super Fun!

         <div class="slider-wrapper theme-default">
         <div class="ribbon"> </div>


<%# Start of the slider %>
            <div id="slider" class="nivoSlider">

      <%# Comment1: First image linked to Cats in Hats game %>
		<% if current_user %>
		   <%= link_to image_tag("/images/slider1.png"), new_post_path %> 
         <% else %>    
         <a id="various4" href="#signin4" title=""> <img src="/images/slider1.png"></a>
        
       <% end %>
                
         <%# Comment1: Second image linked to Catwalks voting %>    	
                  <% if current_user %>
				   <%= link_to image_tag("/images/catwalk.png"), catwalks_path %> 
		           <% else %>    
                   <a id="various3" href="#signin3" title=""> <img src="/images/catwalk.png"></a>
               
                 <% end %>
            </div>
         	
 
          </div>
  </div>      
    
<%# The divs for fancybox popup after clicking slider img is kept outside. If its included with slider div, images appear twice %>

               <div style="display: none;">
					<div id="signin4" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
			        Please sign into facebook.
						<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/posts/new" %>

					</div>
			</div>
   	
			   <div style="display: none;">
						<div id="signin3" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
				        Please sign into facebook.
							<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/catwalks" %>

						</div>
				</div>





