<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({effect:'slideInLeft'});
});
</script>
  
         <div class="slider-wrapper theme-default">
         <div class="ribbon"> </div>
            <div id="slider" class="nivoSlider">
                 <img src="/images/slider1.png" alt=""/>
                 <img src="/images/catwalk.png" alt=""/>
            </div>
          </div>
        
        

 <div class="sharelink">	
       	<% if current_user %>
		   <%= link_to "Share", new_post_path %>

		
		  <% else %>

		
		<a id="various1" href="#signin" title="">Share </a></li>
     	<div style="display: none;">
				<div id="signin" style="width:200px;height:100px;overflow:auto;">
		        Please sign into facebook.
					<%= link_to "Sign in to Facebook", "/auth/facebook" %>
					
				</div>

		</div>
</div>

	<% end %>

