<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({effect:'slideInLeft'});
});
</script>
  
         <div class="slider-wrapper theme-default">
         <div class="ribbon"> </div>
            <div id="slider" class="nivoSlider">
                <img src="/images/slider1.png" alt=""/>
            	<% if current_user %>
				   <%= link_to image_tag("/images/catwalk.png"), catwalks_path %> 
		           <% else %>    
                   <a id="various3" href="#signin3" title=""> <img src="/images/catwalk.png"></a>
                  <div style="display: none;">
						<div id="signin3" style="width:200px;height:100px;overflow:auto;">
				        Please sign into facebook.
							<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=catwalks_path" %>

						</div>
				</div>
                 <% end %>
            </div>
         	
 
          </div>
        
   	
	





