<!DOCTYPE html>
<html>
<head>
  <title>Cats in Your Hats</title>
  <%= stylesheet_link_tag "stylecats","jquery.fancybox-1.3.4" %>

	
 

  <%= csrf_meta_tag %>
</head>
<body>


<%= yield %>

</body>
</html>

